.a {
  display: block;
  padding: 12px;
  background-color: #ff0000;
}
.b {
  display: block;
  padding: 100px;
  background-color: #ffa500;
}
.c {
  display: block;
  padding: 12px;
  background-color: #ffff00;
}
.d {
  display: block;
  padding: 12px;
  background-color: #008000;
}
.e {
  display: block;
  padding: 12px;
  background-color: #0000ff;
}
.f {
  display: block;
  padding: 12px;
  background-color: #4b0082;
}
.g {
  display: block;
  padding: 12px;
  background-color: #800080;
}
